<h3 mat-dialog-title>➕ Añadir ingreso</h3>

<mat-dialog-content>
  <div class="campo">
    <label>Monto (€)</label>
    <input
      type="text"
      step="0.01"
      [(ngModel)]="monto"
      (blur)="validarMonto()"
      (input)="validarMonto()"
      placeholder="Ej: 100.00"
    />
    <small class="error" *ngIf="errorMonto">{{ errorMonto }}</small>
  </div>

  <div class="campo">
    <label>Descripción</label>
    <input
      [(ngModel)]="descripcion"
      (input)="validarDescripcion()"
      (blur)="validarDescripcion()"
      placeholder="Ej: Donación, cuota..."
    />
    <small class="error" *ngIf="errorDescripcion">{{ errorDescripcion }}</small>
  </div>

  <div class="campo">
    <label>Fecha del ingreso</label>
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="fechaDate"
        (dateChange)="fechaDate = $event.value"
        (blur)="validarFecha()"
        placeholder="dd/mm/yyyy "
      />
      <small class="error" *ngIf="errorFecha">{{ errorFecha }}</small>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button class="btn-guardar" (click)="confirm()" [disabled]="!isFormValid()">Guardar</button>
</mat-dialog-actions>
