<div class="ingresos-container">
  <!-- Cabecera con título y botón -->
  <div class="header">
    <h2>📈 Ingresos</h2>
    <button
      class="btn-add"
      (click)="abrirAddIngreso()"
      matTooltip="Añadir ingreso"
      matTooltipPosition="above"
    >
      ➕ Añadir ingreso
    </button>
  </div>
  <div class="buscar-wrapper">
    <mat-form-field appearance="outline" class="buscar-input">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar por fecha o descripción</mat-label>
      <input
        matInput
        [value]="searchTerm()"
        (input)="searchTerm.set($any($event.target).value)"
        placeholder="Ej: 2026-05-12 o Venta de productos"
      />
      <button mat-icon-button matSuffix *ngIf="searchTerm()" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="tabla-wrapper">
    <table mat-table [dataSource]="ingresosFiltrados()">
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let item">{{ item.fechaIngreso }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let item">{{ item.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let item">{{ item.monto | currency: 'EUR' }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button
            class="btn-delete"
            (click)="eliminarIngreso(item.id, item.descripcion, item.monto)"
            matTooltip="Eliminar ingreso"
            matTooltipPosition="above"
          >
            Eliminar 🗑️
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
